In [ ]:
!git clone https://github.com/AlertaDengue/pySUS.git

Cloning into 'pySUS'...
remote: Enumerating objects: 3145, done.
remote: Counting objects: 100% (964/964), done.
remote: Compressing objects: 100% (364/364), done.
remote: Total 3145 (delta 627), reused 806 (delta 586), pack-reused 2181
Receiving objects: 100% (3145/3145), 7.59 MiB | 7.81 MiB/s, done.
Resolving deltas: 100% (2059/2059), done.

In [ ]:
from pysus.online_data import parquets_to_dataframe
from pysus.online_data.SIH import download

In [ ]:
# Definindo o estado e o ano que você deseja baixar
estado = 'sc'
ano = 2022

In [ ]:
# Lista para armazenar os dataframes de cada mês
dfs_meses = []

In [ ]:
# Loop para baixar os dados de todos os meses do ano
for mes in range(1, 13):  # Vai de 1 a 12 (12 não incluso)
    data_mes = download(estado, ano, mes)
    df_mes = parquets_to_dataframe(data_mes)
    dfs_meses.append(df_mes)

In [ ]:
import pandas as pd

In [ ]:
# Concatenando os dataframes de todos os meses em um único dataframe
df_ano_completo = pd.concat(dfs_meses)

In [ ]:
# Visualizando as primeiras linhas do dataframe resultante
print(df_ano_completo.head())

    UF_ZI ANO_CMPT MES_CMPT ESPEC        CGC_HOSP          N_AIH IDENT  \
0  420820     2022       01    03  60194990002200  4221100313111     1
1  420820     2022       01    03  60194990002200  4221100313430     1
2  420820     2022       01    03  60194990002200  4221100313640     1
3  420820     2022       01    03  60194990002200  4221100313903     1
4  420820     2022       01    03  60194990002200  4221100346122     1

        CEP MUNIC_RES      NASC  ...  DIAGSEC9 TPDISEC1 TPDISEC2 TPDISEC3  \
0  88308165    420820  19481226  ...                  0        0        0
1  88303540    420820  19350520  ...                  0        0        0
2  88309300    420820  19490217  ...                  0        0        0
3  88303110    420820  19680616  ...                  1        0        0
4  88311230    420820  19780729  ...                  0        0        0

  TPDISEC4 TPDISEC5 TPDISEC6 TPDISEC7 TPDISEC8 TPDISEC9
0        0        0        0        0        0        0
1        0        0        0        0        0        0
2        0        0        0        0        0        0
3        0        0        0        0        0        0
4        0        0        0        0        0        0

[5 rows x 113 columns]

In [ ]:
df_ano_completo.shape

(533388, 113)

In [ ]:
#Grava o dataframe RD em umm arquivo .csv
df_ano_completo.to_csv('SIH_RD_12_2022.csv')